html, body, div, span, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em,
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption,
figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

html, body {
    background: #181818;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    color: #000;
}

.fa, .fas {
    font-weight: 600;
}

.clear {
    clear: both;
}

p {
    font-size: 1em;
    line-height: 1.4em;
    margin-bottom: 20px;
    color: #000;
}

#cv {
    width: 1000px;
    background: #f3f3f3;
    margin: 0 auto;
}

.main-details {
    padding: 25px 35px;
    border-bottom: 2px solid #3498db;
    background: #f2f2f5;;
}

#name {
    color: #1d6fa5;
}

#name h1 {
    font-size: 2.5em;
}

#name h2 {
    font-size: 2em;
}

#name h3 {
    font-size: 1.2rem;
}

#name h3 a {
    color: #1d6fa5;
}

#main-area {
    padding: 0 20px;
    background: #fbfbfc;
}

#headshot {
    width: 12.5%;
    float: left;
    margin-right: 30px;
}

#headshot img {
    width: 100%;
    height: auto;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

#name {
    float: left;
}

#contact-details {
    float: right;
    font-size: 14px;
}

#contact-details ul {
    list-style-type: none;
    font-size: 0.9em;
    margin-top: 2px;
}

#contact-details ul li {
    margin-bottom: 5px;
    color: #1d6fa5;
    font-weight: bold;
}

#contact-details ul li a, a[href^=tel] {
    color: #1d6fa5;
    text-decoration: none;
}

#contact-details ul li a:hover {
    color: #3498db;
}

section {
    border-top: 2px solid #3498db;
    padding-top: 10px;
    margin-bottom: 10px;
}

section:first-child {
    border-top: 0;
}

strong {
    font-weight: bold;
}

.strong {
    font-weight: bold;
}

.section-title {
    float: left;
    width: 25%;
}

.section-content {
    float: right;
    width: 72.5%;
    border-left: 2px solid #3498db;
    padding-left: 10px;
}

.section-title h1 {
    font-size: 1.5em;
    color: #3498db;
    font-weight: bold;
    border-bottom: 2px solid #3498db;
    padding-bottom: 10px;
}

.section-content h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
    color: #3498db;
}

.section-content article {
    margin-bottom: 10px;
}

ul, ol {
    padding-left: 30px;
}

.sub-details {
    font-size: 0.8em;
    font-style: italic;
    margin-bottom: 5px;
    font-weight: normal;
    padding-left: 10px;
}

.skill-item {
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 5px;
    color: #374054;
    background: #e4e4ea;
    display: inline-block;
}

.cv-formula {
    font-size: 11px;
    padding: 5px 0;
    margin-bottom: 0;
}

i {
    padding-right: 3px;
}

.content-wrapper {
    padding-left: 3px;
}