interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://universities.hipolabs.com/search?domain=zut.edu.pl
  response:
    body:
      string: '[{"state-province": null, "domains": ["zut.edu.pl"], "country": "Poland",
        "web_pages": ["http://www.zut.edu.pl/"], "name": "Zachodniopomorska School
        of Science and Engineering", "alpha_two_code": "PL"}, {"state-province": null,
        "domains": ["zut.edu.pl"], "country": "Poland", "web_pages": ["http://www.zut.edu.pl/"],
        "name": "Zachodniopomorska School of Science and Engineering", "alpha_two_code":
        "PL"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
