<style>
    :root {
        --body-text-color: #525252;
        --card-text-color-secondary: #595959;
    }
    .article-list--compact article .article-image img {
        height: auto;
        width: 80px;
    }

    .site-info .site-name {
        font-size: 2.4rem;
    }

    :root[data-scheme=light] .menu li svg {
        stroke: #525252;
    }
    :root[data-scheme=dark] .menu li svg {
        stroke: #fff;
    }
    :root[data-scheme=light] .mermaid .messageText {
        fill: #000 !important;
    }
    :root[data-scheme=dark] .chroma .hl {
        background-color: #2980b991;
    }
</style>
